{% extends "base.html" %}
{% block content %}
<!-- TODO STYLES HERE -->
<div>
    <a href="{{ url_for('index') }}">Home</a>
</div>
<h1>Info for {{ pokemon_name }}</h1>
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{info['id']}}.png"
    height=500px width=400px />
<table>
    <tr>
        <td><b>Name</b></td>
        <td>{{ info["name"] }}</td>
    </tr>
    <tr>
        <td><b>Height</b></td>
        <td>{{ info["height"] }}</td>
    </tr>
    <tr>
        <td><b>Weight</b></td>
        <td>{{ info["weight"] }}</td>
    </tr>
    <tr>
        <td><b>Base XP</b></td>
        <td>{{ info["base_exp"] }}</td>
    </tr>
    <tr style="vertical-align: top">
        <td><b>Moves</b></td>
        <td>
            <ol>
                {% for move in info["moves"] %}
                <li>{{ move }}</li>
                {% endfor %}
            </ol>
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td><b>Abilities</b></td>
        <td>
            <ol>
                {% for ability in info["abilities"] %}
                <li>
                    <a href="{{ url_for('pokemon_with_ability', ability_name=ability) }}">{{ ability }}</a>
                </li>
                {% endfor %}
            </ol>
        </td>
    </tr>
</table>
{% endblock %}